<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>猜数字</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p>
    <label>Please type 4 numbers
      <input type="number" tabIndex="1" name="getText" id="getText" />
    </label>
  </p>
  <p>
    <label>
      <input type="submit" name="sumit" id="sumit" value="提交" />
    </label>
  </p>
</form>
<form id="form2" name="form2" method="get" action="">
  <label>
    <input type="submit" name="fresh" id="fresh" value="新游戏" />
  </label>
</form>
{% for item in history %}
<p>{{ item }}</p>
{% endfor %}
</body>
</html>